.graph {
  max-width: 100% !important;
  width: auto !important;
  height: 100% !important;
  flex-grow: 1;
  /* Disable pointer-events to propagate hover and click events to parent element. */
  pointer-events: none;
}
