.outer {
  width: 100%;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  flex-direction: column;
}

.inner {
  /* WARNING: Position relative here can mess with z-indexing of children with
   * 'position: fixed' style. Make sure these elements use React Dom Portals to
   * escape them. */
  position: relative;
  max-width: var(--max-content-width);
  width: 100%;
  margin: auto;
  flex-grow: 1;
  flex-direction: column;
}
