.outer {
  width: 100%;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  flex-direction: column;
}

.inner {
  position: relative;
  max-width: var(--max-content-width);
  width: 100%;
  margin: auto;
  flex-grow: 1;
  flex-direction: column;
}
