.hover::before {
  opacity: 0;
  transition-property: opacity, inset;
  transition-duration: 200ms;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 30px; */
  border-radius: inherit;
  inset: 0 0;
  background-color: inherit;
  border: 2px solid black;
  border-radius: 8px;
}

.hover:hover::before {
  opacity: 1;
  inset: -8px -8px;
}

.hoverSelect::before {
  opacity: 1;
  inset: -8px -8px;
  background-color: white;
}

.content {
  margin-bottom: 96;
  width: 70%;
}
.componentMenu {
  width: 30%;
  padding-right: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}
.selectControl {
  display: none;
}
@media (max-width: 900px) {
  .content {
    width: 100%;
  }
  .componentMenu {
    display: none;
  }
  .selectControl {
    display: block;
  }
}
