.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 3;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.projectCard .heading {
  margin-top: 98px;
  margin-bottom: 64px;
}

.projectCardWide {
  margin-bottom: 64px;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: auto auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  .projectCardWide {
    margin-bottom: 24px;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: auto;
  }
}
