.content {
  --content-width: 680px;
}

.content > p,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content ul {
  max-width: var(--content-width);
  margin: auto;
  text-align: left;
}

.content > p,
.content li {
  margin-bottom: 16px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 64px;
  margin-bottom: 24px;
}

.mdx-content-image-text {
  background-color: red;
  max-width: 680px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 24px;
  width: 460px;
  padding-left: 48px;
  float: right;
  clear: both;
}

.shareButton {
  line-height: 0;
  transform: scale(1);
  transition: transform 200ms;
}

.shareButton:hover {
  transform: scale(1.2);
  transition: none;
}
