.hover::before {
  opacity: 0;
  transition-property: opacity, inset;
  transition-duration: 200ms;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 30px; */
  border-radius: inherit;
  inset: 0 0;
  background-color: inherit;
  border: 2px solid black;
  border-radius: 8px;
}

.hover:hover::before {
  opacity: 1;
  inset: -8px -8px;
}

.hoverSelect::before {
  opacity: 1;
  inset: -8px -8px;
  background-color: white;
}

.content {
  margin-bottom: 96;
  width: 70%;
}
.componentMenu {
  width: 30%;
  padding-right: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}
.menuSelectContainer {
  display: none;
}

.menuSelect {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-black);
  width: 100%;
  display: block;
  position: relative;
}

.menuSelect:hover {
  text-decoration: underline;
  cursor: pointer;
}

.componentHeading {
  display: block;
}

.menuSelectOptions {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-black);

  background-color: white;
  overflow: scroll;

  padding: 8px 0;
}

.menuSelectOption {
  padding: 8px 24px;
}

@media (max-width: 900px) {
  .componentHeading {
    display: none;
  }
  .content {
    width: 100%;
  }
  .componentMenu {
    display: none;
  }
  .menuSelectContainer {
    display: block;
  }
}
