.banner {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.invert {
  color: white;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: inherit;
  font-size: 22px;
}

@media (max-width: 600px) {
  .banner {
    flex-direction: column;
    gap: 16px;
  }
}
