.footer {
  background-color: #262c35;
}

.footerPageWrap {
  color: white;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footerPageWrapWrap {
  padding-left: 64px;
  padding-right: 64px;
}

.footerContent {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer a:hover {
  text-decoration: underline;
}

.linkContent {
  min-width: 240;
  flex-direction: column;
  justify-content: center;
}

.linkLabel {
  color: #59b3ff;
  margin-bottom: 0;
}

.link {
  color: white;
  font-size: 16px;
}

.avatarContent {
  min-width: 240;
  align-items: center;
}

.avatar {
  border-radius: 64px;
  margin-right: 24px;
}

.avatarTextContainer {
  flex-direction: column;
}

.avatarText {
  color: white;
  font-size: 22px;
}

.avatarLabel {
  color: #59b3ff;
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .footerPageWrap {
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footerPageWrapWrap {
    padding-left: 32px;
    padding-right: 32px;
  }

  .footerContent {
    flex-direction: column;
  }
  .linkContent {
    flex-direction: row;
  }
  .link {
    margin: 0 8px;
    font-size: 16px;
  }
  .avatarContent {
    margin-bottom: 24px;
  }
}
