.h1 {
  color: red;
}

.h2 {
  color: green;
}

.h3 {
}

.h4 {
  font-size: 36px;
  margin-bottom: 16px;
}

.h5 {
}

.h6 {
}

@media (max-width: 900px) {
  .h1 {
    color: green;
  }
  .h2 {
    color: red;
  }
}
