.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  /* animation: screenEls 6s ease infinite; */
}

@keyframes screenEls {
  0% {
    transform: scale(80%);
    opacity: 0;
  }
  /* 2% {
    opacity: 0;
  } */
  5% {
    transform: scale(100%);
    opacity: 1;
  }
  95% {
    transform: scale(100%);
    opacity: 1;
  }
  /* 98% {
    opacity: 0;
  } */
  100% {
    transform: scale(80%);
    opacity: 0;
  }
}

.imageButtonGroup {
  position: absolute;
  transform: rotate(12deg);
  left: -20px;
  bottom: 56px;
}

.imageButton1,
.imageButton2 {
  width: 200px;
  height: 40px;
  animation: screenEls 6s ease infinite;
}

.imageButton1 {
  /* Dashed border generated here https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='3%2c 8' stroke-dashoffset='19' stroke-linecap='square'/%3e%3c/svg%3e");
  margin-bottom: 12px;
  opacity: 0.9;
}

.imageButton2 {
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  font-family: RecoletaDemo;
  position: absolute;
  /* left: -40px; */
  /* animation: screenEls 6s ease infinite; */
  /* transform-origin: 0 0; */
}

/* .imageButton2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
} */
/* 
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .imageButton2 {
    backdrop-filter: blur(6px);
  } 
  .imageScreen {
    backdrop-filter: blur(6px);
  }
}  */

.videoWrap {
  width: 524px;
  height: 400px;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.video {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.videoVisible {
  opacity: 1;
}

.video video {
  border-radius: 18px;
  object-fit: cover;
}
/*
@keyframes screen {
  0% {
    transform: translate(-8px, -8px);
  }
  50% {
    transform: translate(8px, 8px);
  }
  100% {
    transform: translate(-8px, -8px);
  }
} */
.imageScreenWrap {
  transform: rotate(-5deg);
  position: absolute;
  right: 0px;
  top: -56px;
}

.imageScreen {
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.8);
  width: 248px;
  height: 156px;
  border-radius: 8px;

  transform: rotate(-5deg);
  padding: 0.5rem;
  animation: screenEls 6s ease infinite;
  animation-delay: 60ms;
  backdrop-filter: blur(8px);
}

.imageScreenBar {
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  margin-bottom: 8px;
  flex-shrink: 0;
}

.imageScreenBarMenu {
  display: flex;
  flex-direction: row;
}

.imageScreenBarMenuItem {
  width: 5px;
  height: 5px;
  border-radius: 4px;
  background-color: #777;
  margin-right: 2px;
}

.imageScreenBarAddressWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.imageScreenCard {
  background-color: white;
  border-radius: 4px;
}

.imageScreenBarAddress {
  height: 5px;
  width: 140px;
  border-radius: 4px;
  background-color: #e3e3e3;
}

.imageScreenContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.imageScreenContentSplit {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 8px;
  justify-content: space-between;
}

.imageScreenHeader {
  background-color: white;
  border-radius: 8px;
  height: 10px;
  width: 64px;
}

.imageScreenContentLeft {
  border: 8px;
  padding: 7px;
  width: 34%;
  flex-grow: 1;
}

.imageScreenContentLeftButton {
  height: 11px;
  width: 34px;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

.imageScreenButton {
  background-color: #333;
  border-radius: 2px;
}

.imageScreenContentLeftButton > div {
  background-color: white;
  height: 3px;
  width: 20px;
  border-radius: 4px;
}

.imageScreenContentRight {
  width: 100px;
  flex-grow: 1;
  margin-left: 10px;
}

.imageScreenContentRightHeader {
  height: 3px;
  background-color: #333;
  width: 44px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.imageScreenContentRightBox {
  padding: 7px;
  display: flex;
  align-items: flex-end;
  height: 36px;
  justify-content: center;
}

.imageScreenContentRightBox .imageScreenButton {
  width: 60px;
  height: 14px;
  justify-content: center;
}

.imageScreenContentRightBox .imageScreenButton div {
  width: 32px;
}

.imageScreenContentRightTrio {
  display: flex;
  flex-grow: 1;

  justify-content: space-between;
  margin-top: 8px;
}

.imageScreenContentRightTrio > div {
  border-radius: 7px;
  width: 33%;
  height: 24px;
  background-color: #f89c27;
  margin-right: 3px;
  margin-left: 3px;
}

.imageScreenContentRightTrio > div:first-child {
  background-color: #f9ea54;
  margin-left: 0px;
}

.imageScreenContentRightTrio > div:last-child {
  background-color: #a5c12e;
  margin-right: 0px;
}

.imageIconGroup {
  position: absolute;
  right: 72px;
  bottom: -64px;
  opacity: 0.9;
  width: 48px;
}

.imageIcon {
  display: block;
  height: 48px;
  width: 48px;
  padding: 0.8rem;
  border-radius: 24px;
  border: 2px solid white;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: screenEls 6s ease infinite;
  animation-delay: 100ms;
}

.imageIcon > svg {
  width: 16px;
}
