.itemHoverEffect::before {
  border-radius: 8px;
  inset: 8px 8px;
  box-shadow: rgb(193, 203, 215) 0px 4px 30px;
  opacity: 0;
  transition-property: opacity, inset;
  transition-duration: 200ms;
  background-color: white;
}

.itemHoverEffect:hover::before {
  opacity: 1;
  inset: 0px 0px;
  background-color: white;
}
