.blockquote {
  background: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 540px;
  min-width: 326px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
}

.blockquoteInner {
  padding: 16px;
}

.link {
  background: #ffffff;
  line-height: 0;
  padding: 0 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.callToAction {
  padding-top: 8px;
}

.callToAction > div {
  color: #3897f0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: 18px;
}

.authorShare {
  color: #c9c8cd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  padding: 8px 0 7px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.authorShare > a {
  color: #c9c8cd;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}

.svgWrap {
  display: block;
  height: 50px;
  margin: 0 auto 12px;
  width: 50px;
}

.svgSpace {
  padding: 19% 0;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerChild1 {
  background-color: #f4f4f4;
  border-radius: 50%;
  flex-grow: 0;
  height: 40px;
  margin-right: 14px;
  width: 40px;
}

.headerChild2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.headerChildChild1 {
  background-color: #f4f4f4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
  margin-bottom: 6px;
  width: 100px;
}

.headerChildChild2 {
  background-color: #f4f4f4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
  width: 60px;
}

.contentSpace {
  padding: 12.5% 0;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  align-items: center;
}

.contentChild1 > :nth-child(1) {
  background-color: #f4f4f4;
  border-radius: 50%;
  height: 12.5px;
  width: 12.5px;
  transform: translateX(0px) translateY(7px);
}

.contentChild1 > :nth-child(2) {
  background-color: #f4f4f4;
  height: 12.5px;
  transform: rotate(-45deg) translateX(3px) translateY(1px);
  width: 12.5px;
  flex-grow: 0;
  margin-right: 14px;
  margin-left: 2px;
}

.contentChild1 > :nth-child(3) {
  background-color: #f4f4f4;
  border-radius: 50%;
  height: 12.5px;
  width: 12.5px;
  transform: translateX(9px) translateY(-18px);
}

.contentChild2 {
  margin-left: 8px;
}

.contentChild2 > :nth-child(1) {
  background-color: #f4f4f4;
  border-radius: 50%;
  flex-grow: 0;
  height: 20px;
  width: 20px;
}

.contentChild2 > :nth-child(2) {
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-left: 6px solid #f4f4f4;
  border-bottom: 2px solid transparent;
  transform: translateX(16px) translateY(-4px) rotate(30deg);
}

.contentChild3 {
  margin-left: auto;
}

.contentChild3 > :nth-child(1) {
  width: 0px;
  border-top: 8px solid #f4f4f4;
  border-right: 8px solid transparent;
  transform: translateY(16px);
}

.contentChild3 > :nth-child(2) {
  background-color: #f4f4f4;
  flex-grow: 0;
  height: 12px;
  width: 16px;
  transform: translateY(-4px);
}

.contentChild3 > :nth-child(3) {
  width: 0;
  height: 0;
  border-top: 8px solid #f4f4f4;
  border-left: 8px solid transparent;
  transform: translateY(-4px) translateX(8px);
}

.contentFooter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 24px;
}

.contentFooterChild1 {
  background-color: #f4f4f4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
  margin-bottom: 6px;
  width: 224px;
}

.contentFooterChild2 {
  background-color: #f4f4f4;
  border-radius: 4px;
  flex-grow: 0;
  height: 14px;
  width: 144px;
}
