.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.nav a {
  color: inherit;
  padding: 16px;
}

.invert {
  color: white;
}
.sidebarButton {
  display: none;
}

.sidebar {
  color: black;
}

@media (max-width: 900px) {
  .nav {
    display: none;
  }
  .sidebarButton {
    display: block;
  }
}
