.projectCardBody {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

@media (max-width: 900px) {
  .projectCardBody {
    width: 100%;
    padding: 24px;
  }

  .buttonContainer {
    margin-top: 8px;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.woodfort .button {
  background-color: #6a553d;
  border-color: #6a553d;
  outline-color: #6a553d;
}

.thought-stream .button {
  background-color: #f04153;
  border-color: #f04153;
  outline-color: #f04153;
}

.cpa .button {
  background-color: #78674a;
  border-color: #78674a;
  outline-color: #78674a;
}

.coles .button {
  background-color: #df1a23;
  border-color: #df1a23;
  outline-color: #df1a23;
}

.verso .button {
  background-color: #5b2f7f;
  border-color: #5b2f7f;
  outline-color: #5b2f7f;
}

.untitled-game .button {
  background-color: #1f705a;
  border-color: #1f705a;
  outline-color: #1f705a;
}

.binder .button {
  background-color: #008e89;
  border-color: #008e89;
  outline-color: #008e89;
}

.woodfort .button:focus,
.untitled-game .button:focus,
.verso .button:focus,
.coles .button:focus,
.cpa .button:focus,
.thought-stream .button:focus,
.binder .button:focus,
.wordpress .button:focus,
.gametalk .button:focus {
  border-color: white;
}

.woodfort h1,
.woodfort h2,
.woodfort h3,
.woodfort h4,
.woodfort h5,
.woodfort h6 {
  color: #6a553d;
}

.thought-stream .h1,
.thought-stream .h2,
.thought-stream .h3,
.thought-stream .h4,
.thought-stream .h5,
.thought-stream .h6 {
  color: #f04153;
}

.untitled-game .heading {
  color: #1f705a;
}
.cpa .heading {
  color: #78674a;
}
.verso .heading {
  color: #5b2f7f;
}
.coles .heading {
  color: #df1a23;
}
.binder .heading {
  color: #008e89;
}
