.contentStyle1 {
  background-color: black;
  color: white;
  padding: 24px;
  position: relative;
}

.hoverEffect1::before {
  inset: 0 0;
  border: 2px solid black;
  opacity: 0;
  transition-property: opacity, inset;
  transition-duration: 200ms;
}

.hoverEffect1:hover::before {
  opacity: 1;
  inset: -8px -8px;
}

.contentStyle2 {
  padding: 24px;
}

.hoverEffect2::before {
  border-radius: 8px;
  inset: 0 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 30px;
  opacity: 0;
  transition-property: opacity, inset;
  transition-duration: 200ms;
}

.hoverEffect2:hover::before {
  opacity: 1;
  inset: -8px -8px;
}

.contentStyle3 {
  padding: 8px;
}

.hoverEffect3::before {
  opacity: 0;
  top: auto;
  bottom: 0;
  height: 2px;
  background-color: black;
  transform: scaleX(0%);
  transition-property: opacity, transform;
  transition-duration: 200ms;
}

.hoverEffect3:hover::before {
  opacity: 1;
  transform: scaleX(100%);
}
