.selectMenu {
  position: absolute;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  background: white;
  border: 2px solid #ddd;
  z-index: 1000;
}

.option {
  cursor: pointer;
  padding: 8px 24px;
}
