/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/styles/reset.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
html,
body {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/styles/layout.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root {
  --max-content-width: 900px;

  --padding-0: 8px;
  --padding-1: 16px;
  --padding-2: 24px;
  --padding-3: 32px;
  --padding-4: 40px;
  --padding-5: 48px;
  --content-padding: var(--padding-2);
}

@media screen and (max-width: 900px) {
  :root {
    --content-padding: var(--padding-1);
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/styles/fonts.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'RecoletaDemo';
  src: url('/recoleta-demo.woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'metropolis';
  src: url('/metropolis.regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'metropolis';
  src: url('/metropolis.semi-bold.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'metropolis';
  src: url('/metropolis.bold.otf');
  font-style: normal;
  font-weight: 700;
}

html,
body {
  font-family: metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 .h1 .h2 .h3 .h4 .h5 .h6 {
  font-family: RecoletaDemo;
}

h1,
.h1 {
  font-size: 72px;
}

h2,
.h2 {
  font-size: 44px;
  margin-bottom: 16px;
}

h3,
.h3 {
  margin-bottom: 16px;
}
h4,
.h4 {
  font-size: 36px;
  margin-bottom: 16px;
}

h5,
.h5 {
  font-size: 28px;
  margin-bottom: 16px;
}
h6,
.h6 {
}

p {
  font-size: 18px;
  line-height: 1.6;
}

p.small,
span.small,
a.small {
  font-size: 15px;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/styles/colors.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root {
  --primary-color: #007be4;
  --primary-light-color: #59b3ff;
  --black-color: #262c35;
}

/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./src/styles/globals.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
html,
body {
  background-color: #ecf4fa;
}
p {
  margin-top: 0;
  margin-bottom: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/components/generic/Flex.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Flex_flex__ImPT_ {
  display: flex;
  flex-direction: row;
}

