/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/components/generic/Flex.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Flex_flex__ImPT_ {
  display: flex;
  flex-direction: row;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./src/components/generic/PageContentWrap.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.PageContentWrap_outer__52jvG {
  width: 100%;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  flex-direction: column;
}

.PageContentWrap_inner__IJSCY {
  position: relative;
  max-width: var(--max-content-width);
  width: 100%;
  margin: auto;
  flex-grow: 1;
  flex-direction: column;
}

