@font-face {
  font-family: 'RecoletaDemo';
  src: url('/recoleta-demo.woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'metropolis';
  src: url('/metropolis.regular.otf');
  font-style: normal;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* h1 {
  font-size: 56px;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: RecoletaDemo;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
